{% extends "gerekli.html" %}

{% block title %}{{ blog_detay.title }}{% endblock title %}

{% block orta %} <!-- blog_detay.html block orta -->

<table class="table table-bordered" align="center">


    <thead>
    <td><a href="/cat/{{ blog_detay.category }}/">{{ blog_detay.category }}</a></td>
    <td colspan="2"><a href="/blog/detay/{{ blog_detay.slug }}/">{{ blog_detay.title }}</a></td>
    <tr>
        <th colspan="3">{{ blog_detay.title }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="2">Slug: {{ blog_detay.slug }}</td>
        <td>Yazar: {{ blog_detay.author }}</td>
    </tr>
    <tr>
        <td colspan="3">{{ blog_detay.body }}</td>
    </tr>
    <tr>
        <td colspan="2">Oluşturulma Tarihi: {{ blog_detay.dateet }}</td>
        <td colspan="2">Okuma Süresi: {{ blog_detay.timeread }}dk</td>
    </tr>
    </tbody>
</table>
{% endblock orta %}

