<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">
            <b>Makdos Bilişim Teknolojileri 2015 - 2017</b>
            <br>
            <small>
                <a href="https://fb.com/MakdosTech" target="_blank">Facebook</a>

                <a href="https://twitter.com/MakdosTech" target="_blank">Twitter</a>

                <a href="https://www.youtube.com/channel/UChJNsK-9r-dDkgBP8FHxwMA" target="_blank">Youtube</a>

                <a href="https://www.linkedin.com/company-beta/16242218/" target="_blank">Linkedin</a>

                <a href="https://makdos.com" target="_blank">Makdos</a>
            </small>
        </p>
    </div>
</footer>
</body>

</html>